*{
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	padding: 0 140px;
	box-sizing: border-box;
	
}
.logo{
	width: 100%;
	height: 94px;
	/* background-color: #007AFF; */
	padding: 0;
	text-align: center;
	border-bottom: 2px solid black;
}
.logo img{
	width: 240px;
	height: 54px;
	margin-top: 15px;
}
/* 购物车中心 */
.car-wrap{
	width: 100%;
	padding: 50px 0;
	/* margin: 0 auto 90px; */
	
}
/* 我的购物袋 */
.step-wrap{
	height: 70px;
	/* background-color: blanchedalmond; */
	display: flex;
	justify-content: space-between;
}
.step-item{
	width: 750px;
	height: 60px;
	/* background-color: aliceblue; */
	border-bottom: 4px solid black;
	font-size: 14px;
}
.step-wrap .step-item:nth-child(2){
	color:rgb(175,175,175);
	border-bottom: 4px solid rgb(175,175,175);
}
.myCar{
	width: 100%;
	
}
.left-wrap{
	width: 70%;
	float: left;
	margin-bottom: 90px;
}
.left-wrap::after{
	content: "";
	display: block;
	clear: both;
}
.left-wrap a{
	color: #666666;
	font-size: 18px;
	/* background-color: #FF0000; */
}
.package-title{
	width: 100%;
	height: 100px;
	/* background-color: #007AFF; */
	padding: 50px 0 0px;
	line-height: 40px;
	font-size: 30px;
	font-weight: 700;
	
}
.header-line{
	width: 100%;
	height: 66px;
	background-color: #eee;
	font-size: 18px;
	line-height: 66px;
}
label img{
	width: 160px;
	height: 160px;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	font-size: 16px;
	text-align: left;
	width: 100%;
	
}
thead tr{
	background-color: rgb(238,238,238);
	border-right:  rgb(238,238,238);
}
th{
	font-size: 18px;
	font-weight: 500;
	height: 66px;
	padding-left: 50px;
	
}

td{
	height: 260px;
	line-height: 30px;
	padding-left: 50px;
}
tr{
	font-size:12px ;
}

td span{
	margin-right: 10px;
	/* border-bottom: 1px solid black; */
	cursor: pointer;
}
/* thead tr th:nth-child(2){
	width: 300px;
} */

.count {
	width: 90px;
}

.count .add,
.count input,
.count .reduce {
	float: left;
	margin-right: -1px;
	position: relative;
	z-index: 0;
}

.count .add,
.count .reduce {
	height: 23px;
	width: 17px;
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
	text-align: center;
	line-height: 23px;
	color: #444;
}

.count .add:hover,
.count .reduce:hover {
	color: #f50;
	z-index: 3;
	border-color: #f60;
	cursor: pointer;
}

.count input {
	width: 50px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #aaa;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #fff;
	z-index: 2;
}

.right-wrap{
	width: 25%;
	float: right;
}
.right-wrap::after{
	content: "";
	display: block;
	clear:both ;
}
.hot-sales{
	margin-top: 140px;
	border: 1px solid #e0e0e0;
	padding: 0 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.hot-sales p{
	font-size: 24px;
	letter-spacing: 5px;
	margin: 30px 0;
}
.product-card{
	width: 100%;
	padding: 30px 0 40px;
	border-top: 1px solid #E0E0E0;
}
.product-content{
	text-align: center;
	position: relative;
}
.image-wrap{
	width:250px ;
	height: 110px;
	margin:0 auto ;
	/* background-color: #007AFF; */
}
.image-wrap img{
	width: 110px;
	height: 110px;
}

.swiper-slide {
	overflow: hidden;
  }
  .product-content b{
	  white-space: nowrap;
	  width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  font-size: 14px;
	  font-weight: 400;
	  text-align: center;
	  display: inline-block;
	  height: 24px;
	  line-height: 24px;
	  cursor: pointer;
  }
  .product-content span{
	 
	  text-align: center;
	  color: #666666;
	  font-size: 12px;
	  cursor: pointer;
	  margin-bottom: 15px;
	}
	.product-content p{
		font-size: 12px;
		letter-spacing: 0px;
		margin-top: 25px;
		margin-bottom: 2px;
	}
	.content-star img{
		width: 14px;
		height: 14px;
	}
	.product-content button{
		width: 120px;
		height: 35px;
		background-color: black;
		color: white;
		cursor: pointer;
	}
	.promise-list{
		border-bottom: 1px solid #e0e0e0;
	}
	.order-full-gift{
		padding-top: 40px;
		overflow: hidden;
		border-top: 1px solid #E0E0E0;
	}
	.title-main{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18px;
		/* background-color: aqua; */
	}
	.main h2{
		font-size: 19px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.main p{
		font-size: 18px;
		color: #777;
		line-height: 20px;
	}
	#lo{
		text-decoration: none;
		font-size: 24px;
		color: #b50000;
		cursor: pointer;
	}
	.title-main p{
		font-size: 22px;
		color: #777;
	}
	.gift-list{
		white-space: nowrap;
		overflow-x: auto;
		padding-bottom: 60px;
	}
	.lable{
		position: relative;
		font-size: 22px;
		line-height: 22px;
		color: #455279;
		padding-left: 15px;
	}
	.image-list{
		margin: 30px 0 20px;
		width: 160px;
		height: 160px;
		position: relative;
	}
	.image-list img{
		position: absolute;
		left: 0px;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		max-width: 123px;
		height: 123px;
		z-index: 0;
	}
	.gift-item p{
		width: 100%;
		height: 44px;
		font-size: 14px;
		text-align: left;
		line-height: 22px;
		margin-bottom: 5px;
		
	}
	.quanity-line{
		height: 14px;
		line-height: 22px;
		color: #5e5e5e;
		position: relative;
	}
	.gift-line{
		width: 100%;
		display: flex;
		justify-content: left;
	}
	.promise-message{
		padding: 20px 0;
		border-bottom: 1px solid #e0e0e0;
	}
	.title{
		font-size: 18px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.title span{
		font-size: 12px;
		font-weight: 400;
		color: red;
	}
	.editor-viewer p{
		margin: 10px 0;
		line-height: 1.8;
		font-size: 14px;
		text-align: left;
		color: #525e71;
	}
	.coupon-code{
		padding: 40px 0;
		border-bottom: 1px solid #e0e0e0;
	}
	.coupon-code p{
		width: 50%;
		float: left;
		font-size: 18px;
		font-weight: 700;
		line-height: 35px;
	}
	.content{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: relative;
	}
	.content input{
		border: 1px solid #bfbfbf;
		padding: 5px;
		height: 36px;
		box-sizing: border-box;
	}
	.default-button{
		font-size: 14px;
		line-height: 33px;
		box-sizing: border-box;
		display: inline-block;
		padding: 0 20px;
		background-color: #000;
		border: 1px solid #000;
		cursor: pointer;
		position: relative;
		text-align: center;
		color: #fff;
	}
	.cart-summary{
		width: 100%;
	}
	.delail-wrap{
		padding: 40px 0 60px;
		border-bottom: 1px solid #e0e0e0;
	}
	.delail-wrap .title{
		width: 61%;
		float: left;
		font-size: 18px;
		font-weight: 400;
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}
	.delail-wrap .content{
		width: 38%;
		font-size: 14px;
		line-height: 20px;
		float: left;
	}
	.content .price-line{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.total-line{
		display: block;
		width: 100%;
		padding: 40px 0 30px;
		display: flex;
		justify-content: space-between;
	}
	.total-line span{
		
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
	}
	.checkOut-wrap{
		width: 100%;
		font-size: 14px;
		padding: 30px 0 30px;
	}
	.checkOut-wrap a{
		float: left;
		line-height: 32px;
		font-size: 18px;
		color: #666;
	}
	.checkOut-wrap a::after{
		content: "";
		display: block;
		clear: both;
	}
	.checkOut-wrap button{
		background-color: #a2221f;
		color: white;
		width:120px ;
		height: 36px;
		float: right;
		line-height: 35px;
		font-size: 14px;
		border: 1px solid #a2221f;
		cursor: pointer;
	}
	.checkOut-wrap button::after{
		content: "";
		display: block;
		clear: both;
	}
	.lite-footer{
		width: 100%;
		height: 500px;
		background-color: #000;
		text-align: center;
		position: absolute;
		margin: 0;
		padding: 0;
		border-top: 1px solid #e2e2e2;
	}
	/* .warranty-box{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.long-box{
		width: 35%;
	}
	.long-box img{
		width: 110px;
		height: 110px;
		float: left;
	}
	.short-box{
		width: 30%;
	} */
	.imga{
		width: 100%;
	}
	




	

	







