*{
	margin: 0;
	padding: 0;
}


/* 选项卡 */
.tab{
	width: 100%;
	height: 620px;
	margin-top: 35px;
	/* background-color: #FA8072; */
}
.tab>h3{
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	border: 0;
	text-align: center;
}
.tab-warp{
	width: 100%;
	height: 35px;
	/* background-color: chartreuse; */
	display: flex;
	justify-content: center;
}
.tab-seled{
	width: 135px;
	height: 35px;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	font-weight: 500;
	color: #989898;
	position: relative;
}
.normal-product{
	width: 2000px;
	height: 600px;
	/* background-color: aqua; */
	position: absolute;
	top: 35px;
	left: -700px;
	
	display: none;
	/* opacity: 0; */
}
#normal{
	display:flex;
}

.product-tab{
	width: 33%;
	height: 600px;
	/* background-color: blue; */
}
.product-tab img{
	width: 300px;
	height: 300px;
}
.product-tab b{
	font-size: 16px;
	font-weight:400;
}
.product-tab p{
	font-size: 12px;
	color: #666;
}
.ul_2,.rate-seled{
	width:100%;
	height: 30px;
	display: flex;
	justify-content: center;
}
.ul-box{
	width: 40px;
	height: 15px;
	margin-left: 2px;
	margin-top: -12px;
	transition: 0.5s ease;
}
#active_1,.star{
	height: 30px;
	margin-top: 0;
}
.ul_2 .color{
	width: 30px;
	height: 12px;
}
.ul-box img{
	width: 30px;
	height: 12px;
}
.ul-box:hover{
	transform:scaleY(2);
}
#active_1{
	transform:scaleY(1);
}

.star img{
	width: 18px;
	height: 20px;
}

.tab-btn{
	width: 100%;
	height: 85px;
	margin-top: 15px;
	/* background-color: cornflowerblue; */
	display: flex;
	justify-content: center;
}
.price{
	width: 110px;
	height: 35px;
	text-align: center;
	margin-top: 20px;
	margin-left: 1px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	background-color:rgb(70,70,70);
}
.pay{
	width: 110px;
	height: 35px;
	text-align: center;
	margin-top: 20px;
	margin-left: 1px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	background-color: #000000;
}



/* 图片展示 */
.photo-list{
	width: 2000px;
	height: 2200px;
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	margin: 0 auto;
}
.photo img{
	width: 1000px;
	height: 730px;
	
}

/* 轮播图 */

 .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }