*{
	margin: 0;
	padding: 0;
}
#body_1{
	width: 100%;
	height: 940px;
	background-color: rgba(255,255,255,0.4);
	z-index: 800;
	float: right;
	display: none;
	position: fixed;
}
.reg{
	width: 900px;
	/* height: 600px; */
	background-color: white;
	position: absolute;
	top: 100px;
	left: 500px;
	padding: 40px;/* 
	display: flex;
	justify-content: space-between; */
	/* background-color:#BFBFBF; */
}
#close1{
	position: absolute;
	top:20px;
	right: 20px;
	cursor: pointer;
}
.header-wrap{
	width: 100%;
	height: 50px;
	/* background-color: #007AFF; */
	font-size: 14px;
}
.header-wrap a{
	color: #000000;
	border-bottom: 1px solid black;
}
.information{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ph,.pass1,.pass2,.ver,.dxver,.birth{
	width: 400px;
	margin-bottom: 50px;
	margin-left: 20px;
	height: 50px;
	/* background-color: #007AFF; */
	line-height: 40px;
}
input#ph,#pass1,#pass2,#dxver,#birth{
	width: 300px;
	height: 50px;
}
.ver{
	width: 400px;
	display: flex;
	justify-content: space-between;
}
input#ver{
	width: 100px;
	height: 50px;
	margin-left: -20px;
}
.kbq{
	margin-top: -10px;
	font-size: 14px;
}
.k,.h{
	height: 30px;
}
span#span_1,#span_3,#span_4,#span_5{
	margin-left: 100px;
	color: red;
	display: none;
}
span#span_2{
	position: absolute;
	top: 150px;
	right: 250px;
	color: red;
	text-align: left;
	display: none;
}
.name{
	margin-left: 50px;
}
.name input{
	margin-left: 30px;
}
.do{
	margin-top: 30px;
	font-size: 13px;
	padding-left: 40px;
}
.do span a{
	display: inline-block;
	color: #000000;
	border-bottom: 1px solid black;
}
#ljzc{
	width: 400px;
	height: 50px;
	background-color: #989898;
	color: white;
	text-align: center;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	cursor: pointer;
}
#ljzc:hover{
	background-color: #000000;
}
.xx{
	font-size: 14px;
	color: #666666;
	padding-left: 40px;
	margin-top: 30px;
}